@mixin topbar(){
  font-size: 30px;
  color: $accent;
  text-align: center;
  display: flex;
  min-width: calc(100vw - $padding*2);
  flex: 1;
  padding: $padding;
  border-bottom: 2px solid $spliter;
  & :nth-child(1) {
    max-width: 10%;
    min-width: 10%;
  }
  & :nth-child(2) {
    flex: 1 1 auto;
  }
  & :nth-child(3) {
    max-width: 10%;
    min-width: 10%;
  }
}
