@mixin topbar($amount: 2, $popup: false){
  font-size: 30px;
  color: $accent;
  text-align: center;
  display: flex;
  flex: 1;
  padding: $padding;
  border-bottom: 2px solid $spliter;
  @if $amount == 2 {
    & :nth-child(2) {
      //background: green;
      flex: 1;
      margin-right: 10vw;
      max-width: calc(100vw - $padding*8)
    }
  }
  @else if $amount == 3 {
    :nth-child(2) {
      //background: green;
      flex: 1;
      margin-right: 0px;
      max-width: calc(100vw - $padding*8)
    } 
  }
  & :nth-child(3), :nth-child(1) {
    //background: red;
    @if not $popup {
      min-width: 10vw;
    }
  }
}
