@font-face {
  font-family: "concert";
  src: url(../fonts/ConcertOne.ttf);
}
@font-face {
  font-family: "mononoki";
  src: url(../fonts/mononoki.ttf);
}
@font-face {
  font-family: "rubik";
  src: url(../fonts/rubik.ttf);
}
@font-face {
  font-family: "ubuntu";
  src: url(../fonts/ubuntu.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto.ttf);
}
@font-face {
  font-family: "Hack";
  src: url(../fonts/HackNerdFont.ttf);
}
body {
  background-color: #181825;
  color: #CDD6F4;
  font-family: Roboto;
}

br {
  display: block;
  margin: 3px 0;
}

.content {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-areas: "start center end" "nav con con";
}

.back {
  all: unset;
  transition: 200ms;
  color: #CDD6F4;
  cursor: pointer;
  background-color: rgba(205, 214, 244, 0.06);
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #490d91, #222234, #181825);
  max-width: 150px;
  grid-area: start;
  text-align: start;
}
.back:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.back:active, .back.on, .back.active, .back:checked {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-image: linear-gradient(to right, #CBA6F7, #9448ef);
  background-color: #CBA6F7;
  color: #181825;
}
.back:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
}

.name {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  min-width: 300px;
  grid-area: center;
  text-align: center;
}

.placeholder {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to left, #490d91, #222234, #181825);
  max-width: 150px;
  grid-area: end;
  text-align: end;
}

.link {
  all: unset;
  cursor: pointer;
}

.nav {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #490d91, #222234, #181825);
  grid-area: nav;
}

.con {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  grid-area: con;
  text-align: left;
  background: linear-gradient(to left, #490d91, #222234, #181825, #181825, #181825);
}

.lt {
  text-decoration-line: line-through;
  display: inline-block;
}

.line {
  display: inline-block;
}

.macchiato {
  min-height: 500px;
  background: url("../images/conf/macchiato.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.latte {
  min-height: 500px;
  background: url("../images/conf/latte.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spaghett {
  min-height: 500px;
  background: url("../images/conf/spaghett.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mlp {
  min-height: 500px;
  background: url("../images/conf/mlp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacman {
  min-height: 500px;
  background: url("../images/conf/pacman.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wg {
  min-height: 500px;
  background: url("../images/conf/wg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kgb {
  min-height: 500px;
  background: url("../images/conf/kgb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jp {
  min-height: 500px;
  background: url("../images/conf/jp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fnaf {
  min-height: 500px;
  background: url("../images/conf/fnaf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fuck {
  min-height: 500px;
  background: url("../images/conf/fuck.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=dotsstyle.css.map */
