@font-face {
  font-family: "concert";
  src: url(../fonts/ConcertOne.ttf);
}
@font-face {
  font-family: "mononoki";
  src: url(../fonts/mononoki.ttf);
}
@font-face {
  font-family: "rubik";
  src: url(../fonts/rubik.ttf);
}
@font-face {
  font-family: "ubuntu";
  src: url(../fonts/ubuntu.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto.ttf);
}
@font-face {
  font-family: "Hack";
  src: url(../fonts/HackNerdFont.ttf);
}
body {
  background-color: #181825;
  color: #CDD6F4;
  font-family: Roboto;
}

.box {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-areas: "start center end" "start-middle center-middle end-middle";
}

br {
  display: block;
  margin: 3px 0;
}

.start {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #490d91, #222234, #181825);
  max-width: 150px;
  grid-area: start;
  text-align: start;
}

.start-middle {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  word-wrap: break-word;
  max-width: 150px;
  background: linear-gradient(to right, #490d91, #222234, #181825);
  grid-area: start-middle;
  text-align: start;
}

.center {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  min-width: 300px;
  grid-area: center;
  text-align: center;
}

.center-middle {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  word-wrap: break-word;
  min-width: 400px;
  min-height: 400;
  grid-area: center-middle;
  text-align: center;
  display: flex;
}

.end {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to left, #490d91, #222234, #181825);
  max-width: 150px;
  grid-area: end;
  text-align: end;
}

.end-middle {
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  display: end;
  background: linear-gradient(to left, #490d91, #222234, #181825);
  margin: 10px;
  max-width: 150px;
  margin-top: 5px;
  grid-area: end-middle;
  text-align: end;
  border: 2px solid #CBA6F7;
  border-radius: 7px;
}

.link {
  all: unset;
  cursor: pointer;
  padding: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 50000px));
  grid-template-areas: "dots mine szach" "bush bash .";
}

.dots {
  all: unset;
  transition: 200ms;
  border-radius: 7px;
  color: #CDD6F4;
  cursor: pointer;
  background-color: rgba(205, 214, 244, 0.06);
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: dots;
  background-image: url("../images/dots.png");
  background-size: 500px;
}
.dots:focus {
  box-shadow: inset 0 0 0 2px #CBA6F7;
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.dots:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.dots:active, .dots.on, .dots.active, .dots:checked {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-image: linear-gradient(to right, #CBA6F7, #9448ef);
  background-color: #CBA6F7;
  color: #181825;
}
.dots:active:hover, .dots.on:hover, .dots.active:hover, .dots:checked:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0), inset 0 0 0 99px rgba(205, 214, 244, 0.154);
}
.dots:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
}

.mine {
  all: unset;
  transition: 200ms;
  border-radius: 7px;
  color: #CDD6F4;
  cursor: pointer;
  background-color: rgba(205, 214, 244, 0.06);
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: mine;
  background-image: url("../images/mine.png");
  background-size: 500px;
}
.mine:focus {
  box-shadow: inset 0 0 0 2px #CBA6F7;
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.mine:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.mine:active, .mine.on, .mine.active, .mine:checked {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-image: linear-gradient(to right, #CBA6F7, #9448ef);
  background-color: #CBA6F7;
  color: #181825;
}
.mine:active:hover, .mine.on:hover, .mine.active:hover, .mine:checked:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0), inset 0 0 0 99px rgba(205, 214, 244, 0.154);
}
.mine:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
}

.szach {
  all: unset;
  transition: 200ms;
  border-radius: 7px;
  color: #CDD6F4;
  cursor: pointer;
  background-color: rgba(205, 214, 244, 0.06);
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: szach;
  background-image: url("../images/szach.png");
  background-size: 500px;
}
.szach:focus {
  box-shadow: inset 0 0 0 2px #CBA6F7;
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.szach:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.szach:active, .szach.on, .szach.active, .szach:checked {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-image: linear-gradient(to right, #CBA6F7, #9448ef);
  background-color: #CBA6F7;
  color: #181825;
}
.szach:active:hover, .szach.on:hover, .szach.active:hover, .szach:checked:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0), inset 0 0 0 99px rgba(205, 214, 244, 0.154);
}
.szach:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
}

.bush {
  all: unset;
  transition: 200ms;
  border-radius: 7px;
  color: #CDD6F4;
  cursor: pointer;
  background-color: rgba(205, 214, 244, 0.06);
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: bush;
  background-image: url("../images/bush.png");
  background-size: 500px;
}
.bush:focus {
  box-shadow: inset 0 0 0 2px #CBA6F7;
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.bush:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.bush:active, .bush.on, .bush.active, .bush:checked {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-image: linear-gradient(to right, #CBA6F7, #9448ef);
  background-color: #CBA6F7;
  color: #181825;
}
.bush:active:hover, .bush.on:hover, .bush.active:hover, .bush:checked:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0), inset 0 0 0 99px rgba(205, 214, 244, 0.154);
}
.bush:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
}

.bash {
  all: unset;
  transition: 200ms;
  border-radius: 7px;
  color: #CDD6F4;
  cursor: pointer;
  background-color: rgba(205, 214, 244, 0.06);
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  border: 2px solid #CBA6F7;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  text-shadow: 2px 2px 0px #000000;
  background-image: url("../images/bash.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: bash;
  background-size: 500px;
}
.bash:focus {
  box-shadow: inset 0 0 0 2px #CBA6F7;
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.bash:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-color: rgba(205, 214, 244, 0.154);
  color: #f7f8fd;
}
.bash:active, .bash.on, .bash.active, .bash:checked {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0);
  background-image: linear-gradient(to right, #CBA6F7, #9448ef);
  background-color: #CBA6F7;
  color: #181825;
}
.bash:active:hover, .bash.on:hover, .bash.active:hover, .bash:checked:hover {
  box-shadow: inset 0 0 0 2px rgba(205, 214, 244, 0), inset 0 0 0 99px rgba(205, 214, 244, 0.154);
}
.bash:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(205, 214, 244, 0.3);
}

/*# sourceMappingURL=style.css.map */
