body{
	background-color: $bg-color;
	color: $fg-color;
	font-family: $font;
}
br {
   display: block;
   margin: $br-size 0;
}
.contentd{
	display: grid;
	height: 100%;
	grid-template-columns: 150px auto 150px; 
	grid-template-rows: min-content auto;
  	grid-template-areas: 'startd centerd endd'
  			     'navd cond cond';
}
.backd{
	@include button;
	@include border;
	background: $gradr;
	max-width: 150px;
	grid-area: startd;
	text-align: start;
}
.named{
	@include border;
	min-width: 300px;
	grid-area: centerd;
	text-align: center;
}
.gitd{
	@include button;
	@include border;
	background: $gradl;
	max-width: 150px;
	grid-area: endd;
	text-align: end;
}
.link{
	@include link;
}
.stick{
	position: sticky;
	top: $padding;
}
.navd{
	@include border;
	background: $gradr;
	grid-area: navd;
}
.cond{
	@include border;
	grid-area: cond;
	text-align: left;
	background: $gradL;
}
.lt{
	text-decoration-line: line-through;
	display: inline-block;
}
.line{
	display: inline-block;
}
