body{
	background-color: $bg-color;
	color: $fg-color;
	font-family: $font;
}
br {
   display: block;
   margin: $br-size 0;
}
.content{
	display: grid;
	grid-template-columns: 150px auto 150px; 
  	grid-template-areas: 'start center end'
  			     'nav con con';
}
.back{
	@include button;
	@include border;
	background: linear-gradient(to right, darken($accent, 50), lighten($bg-color,5), $bg-color);
	max-width: 150px;
	grid-area: start;
	text-align: start;
}
.name{
	@include border;
	min-width: 300px;
	grid-area: center;
	text-align: center;
}
.placeholder{
	@include border;
	background: linear-gradient(to left, darken($accent, 50), lighten($bg-color,5), $bg-color);
	max-width: 150px;
	grid-area: end;
	text-align: end;
}
.link{
	@include link;
}
.nav{
	@include border;
	background: linear-gradient(to right, darken($accent, 50), lighten($bg-color,5), $bg-color);
	grid-area: nav;
}
.con{
	@include border;
	grid-area: con;
	text-align: left;
	background: linear-gradient(to left, darken($accent, 50), lighten($bg-color,5), $bg-color, $bg-color, $bg-color);
}
.lt{
	text-decoration-line: line-through;
	display: inline-block;
}
.line{
	display: inline-block;
}
