@font-face {
  font-family: 'concert';
  src: url(../fonts/ConcertOne.ttf);
}
@font-face {
  font-family: 'mononoki';
  src: url(../fonts/mononoki.ttf);
}
@font-face {
  font-family: 'rubik';
  src: url(../fonts/rubik.ttf);
}
@font-face {
  font-family: 'ubuntu';
  src: url(../fonts/ubuntu.ttf);
}
@font-face {
  font-family: 'roboto';
  src: url(../fonts/roboto.ttf);
}
@font-face {
  font-family: 'Hack';
  src: url(../fonts/HackNerdFont.ttf);
}
@import './options';
@import './border';
@import './button';
@import './buttonimages';
@import './link';
@import './dotsmain';
