body{
	background-color: $bg-color;
	color: $fg-color;
	font-family: $font;
}
br {
   display: block;
   margin: $br-size 0;
}
.contentl{
	display: grid;
	height: 100%;
	grid-template-columns: 150px auto 150px; 
	grid-template-rows: min-content auto;
  	grid-template-areas: 'startl centerl endl'
  			     'navl conl conl';
}
.backl{
	@include button;
	@include border;
	background: $gradr;
	max-width: 150px;
	grid-area: startl;
	text-align: start;
}
.namel{
	@include border;
	min-width: 300px;
	grid-area: centerl;
	text-align: center;
}
.endl{
	@include border;
	background: $gradl;
	max-width: 150px;
	grid-area: endl;
	text-align: end;
}
.link{
	@include link;
}
.stick{
	display: stick;
	top: $padding;
}
.navl{
	@include border;
	display: flex;
	align-items: start;
	background: $gradr;
	grid-area: navl;
}
.conl{
	@include border;
	grid-area: conl;
	text-align: left;
	background: $gradL;
}
.lt{
	text-decoration-line: line-through;
	display: inline-block;
}
.line{
	all: unset;
	display: inline-block;
}
