body{
	background-color: $bg-color;
	color: $fg-color;
	font-family: $font;
}
.topbars{
	display: grid;
	grid-template-columns: 150px auto 150px; 
  	grid-template-areas: 'starts centers ends';
}
.backs{
	@include button;
	@include border;
	background: $gradr;
	max-width: 150px;
	grid-area: starts;
	text-align: start;
}
.names{
	@include border;
	min-width: 300px;
	grid-area: centers;
	text-align: center;
}
.placeholders{
	@include border;
	background: $gradl;
	max-width: 150px;
	grid-area: ends;
	text-align: end;
}
.contents{
	@include border;
	height: auto;
	background: $grad;
	br {
		margin-top: -10px;
	}
	td{
		color: #CDD6F4;
	}
}
.code{
	@include border;
	background: #0D1117;
	padding: 0px;
}
.link{
	@include link;
}
