$spacing: 5px;
$padding: 7px;
$radii: 7px;
$font: Roboto;
$bg-color: #eeee0e;
$fg-color: #000700;
$accent: #666420;
$accent-fg: $bg-color;
$border-color: $accent;
$border-opacity: 100;
$border-width: 2px;
$widget-bg: $fg-color;
$widget-opacity: 94;
$shadow: rgba(0, 0, 0, .6);
$transition: 200ms;
$accent-gradient: to right, $accent, darken($accent, 20);
$accent-bgradient: to bottom, $accent, darken($accent, 20);
$gradl: repeating-linear-gradient(to right,red,red 5px,green 5px,green 10px,blue 10px, blue 11px);
$gradL: repeating-linear-gradient(135deg,black, black 5px, white 5px, white 10px, red 10px, red 15px);
$gradr: repeating-radial-gradient(red, yellow,blue,green,white,black);

$br-size: 3px;

$hover: transparentize($widget-bg, calc(($widget-opacity * 0.9) / 100));
$widget-bg: transparentize($widget-bg, calc($widget-opacity / 100));
$active-gradient: linear-gradient($accent-gradient);
$active-bgradient: linear-gradient($accent-bgradient);

$hover-fg: lighten($fg-color, 10%);

$text-shadow: 2px 2px 2px $shadow;
