$spacing: 5px;
$padding: 7px;
$radii: 7px;
$font: Roboto;
$bg-color: #F1ECFA;
$fg-color: #452C1F;
$accent: #4DB0DD;
$accent-fg: $bg-color;
$border-color: $accent;
$border-opacity: 100;
$border-width: 2px;
$widget-bg: $fg-color;
$widget-opacity: 94;
$shadow: rgba(0, 0, 0, .6);
$transition: 200ms;
$accent-gradient: to right, $accent, darken($accent, 20);
$accent-bgradient: to bottom, $accent, darken($accent, 20);
$gradl: linear-gradient(to left, $accent, lighten($bg-color,5), $bg-color);
$gradL: linear-gradient(to left, $accent, lighten($bg-color,5), $bg-color, $bg-color, $bg-color);
$gradr: linear-gradient(to right, $accent, lighten($bg-color,5), $bg-color);
$grad: linear-gradient(to right, $accent, lighten($bg-color,5), $bg-color, lighten($bg-color,5), $accent);

$br-size: 3px;

$hover: transparentize($widget-bg, calc(($widget-opacity * 0.9) / 100));
$widget-bg: transparentize($widget-bg, calc($widget-opacity / 100));
$active-gradient: linear-gradient($accent-gradient);
$active-bgradient: linear-gradient($accent-bgradient);

$hover-fg: lighten($fg-color, 10%);

$text-shadow: 2px 2px 2px $shadow;
