$spacing: 5px;
$padding: 7px;
$radii: 7px;
$font: Roboto;
$bg-color: #D3C5AA;
$fg-color: #70554A;
$accent: #D3C5AA;
$accent-fg: $bg-color;
$border-color: $fg-color;
$border-opacity: 100;
$border-width: 2px;
$widget-bg: $fg-color;
$widget-opacity: 94;
$shadow: rgba(0, 0, 0, .6);
$transition: 200ms;
$accent-gradient: to right, $accent, darken($accent, 20);
$accent-bgradient: to bottom, $accent, darken($accent, 20);
$gradl: $bg-color;
$gradL: $bg-color;
$gradr: $bg-color;

$br-size: 3px;

$hover: transparentize($widget-bg, calc(($widget-opacity * 0.9) / 100));
$widget-bg: transparentize($widget-bg, calc($widget-opacity / 100));
$active-gradient: linear-gradient($accent-gradient);
$active-bgradient: linear-gradient($accent-bgradient);

$hover-fg: lighten($fg-color, 10%);

$text-shadow: 2px 2px 2px $shadow;
