.projects{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 25vh;
}
.dots{
	@include buttonimages('../images/dots.png');
	@include border;
	flex: 1;
	color: #CDD6F4;
	text-shadow: 2px 2px 0px #000000;
	background-repeat: no-repeat;
	background-position: center;
	padding: $padding;
	margin: $spacing*2;
	grid-area: dots;
	background-image: url('../images/dots.png');
	background-size: 500px;
}
.mine{
	@include buttonimages('../images/mine.png');
	@include border;
	flex: 1;
	color: #CDD6F4;
	text-shadow: 2px 2px 0px #000000;
	background-repeat: no-repeat;
	background-position: center;
	padding: $padding;
	margin: $spacing*2;
	grid-area: mine;
	background-image: url('../images/mine.png');
	background-size: 500px;
}
.szach{
	@include buttonimages('../images/szach.png');
	@include border;
	flex: 1;
	color: #CDD6F4;
	text-shadow: 2px 2px 0px #000000;
	background-repeat: no-repeat;
	background-position: center;
	padding: $padding;
	margin: $spacing*2;
	grid-area: szach;
	background-image: url('../images/szach.png');
	background-size: 500px;
}
.bush{
	@include buttonimages('../images/bush.png');
	@include border;
	flex: 1;
	color: #CDD6F4;
	text-shadow: 2px 2px 0px #000000;
	background-repeat: no-repeat;
	background-position: center;
	padding: $padding;
	margin: $spacing*2;
	grid-area: bush;
	background-image: url('../images/bush.png');
	background-size: 500px;
}
.bash{
	@include buttonimages('../images/bash.png');
	@include border;
	flex: 1;
	color: #CDD6F4;
	text-shadow: 2px 2px 0px #000000;
	background-repeat: no-repeat;
	background-position: center;
	padding: $padding;
	margin: $spacing*2;
	grid-area: bash;
	background-size: 500px;
}
