@font-face {
  font-family: 'comic';
  src: url(comicsans.ttf)
}
body {
  background-color: #000000;
  color: #ffffff;
}
.main {
  display: grid;
  grid-auto-flow: column dense;
  grid-template:
    "wow wow wow"
    "sex dupa cycki"
    "sex dupa cycki";
  font-family: 'comic';
}
.sad {
  display: flex;
  padding: 20px;
  gap: 50px;
}
.sex {
  grid-area: sex;
}
.dupa {
  grid-area: dupa;
}
.cycki {
  grid-area: cycki;
}
.wow h1{
  grid-area: wow;
  font-size: 69;
  text-align: center;
}
