.DTopBar {
  @include topbar();
  & :nth-child(2) {
    flex: 2;
    min-width: calc(((70px - 3*$padding)/1px) *1vw);
  }
  & :nth-child(1) {
    flex: 3;
    color: $red;
    min-width: 10%;
    text-align: left;
  }
  & :nth-child(3) {
    flex: 3;
    color: $red;
    min-width: 10%;
    text-align: right;
  }
}
#good {
  color: $green;
}
#bad {
  color: $red;
}
@media (max-width: 550px){
  .ansBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ansBox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .DuoMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 550px){
  .ansBox1 {
    display: flex;
  }
  .ansBox2 {
    display: flex;
  }
  .DuoMenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.word {
  text-align: center;
  font-size: 40px;
  padding: $padding;
  margin-bottom: $padding*2;
}
.red {
  color: $orange;
}
.gray {
  color: gray;
}
.fire, .heartIco {
  margin-top: 5px;
  margin-bottom: -5px;
  margin-left: calc(-2vw + 2px);
  margin-right: calc(-2vw + 2px);
}
.heart {
  color: $red;
}
.ded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &> strong {
    font-size: 30px;
  }
  &> img {
    width: 40vw;
    height: 60vh;
  }
}
