.TopBar {
  @include topbar();
  justify-content: space-between;
}
@media (min-width: 550px) {
  .MainBox {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .MainBox {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}
