.Button {
  @include button();
  font-size: 35px;
  flex-grow: 1;
  max-width: calc(100% - $padding*4);
}
.txt {
  @include txt();
}
.TopBar {
  @include topbar($amount: 3);
  min-width: calc(100vw - $padding*2);
  & .BackButton {
    @include button($flat: true);
    color: $accent;
  }
}
.TopBar2 {
  @include topbar($amount: 2);
  min-width: calc(100vw - $padding*2);
  & .BackButton {
    @include button($flat: true);
    color: $accent;
  }
}
.Box {
  width: 100vw;
}
.KeyBox {
    display:flex;
    flex-wrap: wrap;
}
@media (min-width: 550px) {
  .MainBox {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .MainBox {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  #space {
    order: 3;
  }
  #enter {
    order: 2;
  }
}
.txtCenter {
  @include txt();
  justify-content: center;
}
.ModArea {
  padding: $padding;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.Mod {
  background: $bg;
  color: $fg;
  font-size: 15px;
  border: 0px;
  display: flex;
  flex: 1;
}
.MusicBox {
  display: flex;
  flex-direction: column;
  & img {
    height: 25vh;
    width: 25vw;
    paddin: $padding;
  }
  & audio {
    padding: $padding;
  }
}
.TrackBox {
  display: flex;
  width: calc(100vw - $padding*4);
  border: $border-width solid $border-color;
  justify-content: space-between;
  border-radius: $radii;
  padding: $padding;
  margin: $padding;
  & :nth-child(1) {
    //background: red;
    min-width: 10vw;
    border-right: $border-width solid $border-color;
    margin-right: $padding;
  }
  & :nth-child(2) {
    //background: green;
    flex-grow: 1;
    border-right: $border-width solid $border-color;
    margin-right: $padding;
  }
  & :nth-child(3) {
    @include button($flat: true);
    display: flex;
    //background: blue;
    min-width: 10vw;
    max-width: calc(10vw - padding*4);
    & .InputButton {
      @include button();
      flex: 1;
      min-width: 10vw;
      max-width: 30vw;
    }
  }
}
.PopUpContainer {
  position: absolute;
  border: $border-width solid $border-color;
  border-radius: $radii;
  padding: $padding;
  max-height: 70vh;
  max-width: calc(90vw - $padding*4);
  min-width: calc(90vw - $padding*4);
  top: 15vh;
  left: 5vw;
  z-index: 1;
}
.TpPopup {
  @include topbar($amount: 2);
  & :nth-child(2){
    margin-left: 10vw;
  }
  & .BackButton {
    @include button($flat: true);
    color: $accent;
  }
}
