@font-face {
  font-family: "concert";
  src: url(../fonts/ConcertOne.ttf);
}
@font-face {
  font-family: "mononoki";
  src: url(../fonts/mononoki.ttf);
}
@font-face {
  font-family: "rubik";
  src: url(../fonts/rubik.ttf);
}
@font-face {
  font-family: "ubuntu";
  src: url(../fonts/ubuntu.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto.ttf);
}
@font-face {
  font-family: "Hack";
  src: url(../fonts/HackNerdFont.ttf);
}
body {
  background-color: #F1ECFA;
  color: #452C1F;
  font-family: Roboto;
}

.box {
  display: grid;
  height: 100%;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: min-content auto;
  grid-template-areas: "startm centerm endm" "start-middlem center-middlem end-middlem";
}

br {
  display: block;
  margin: 3px 0;
}

.startm {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: startm;
  text-align: start;
}

.start-middlem {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  word-wrap: break-word;
  max-width: 150px;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  grid-area: start-middlem;
  text-align: start;
}

.centerm {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  min-width: 300px;
  grid-area: centerm;
  text-align: center;
}

.center-middlem {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  grid-area: center-middlem;
  float: top;
  word-wrap: break-word;
  min-width: 400px;
  text-align: center;
}

.endm {
  all: unset;
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: endm;
  text-align: end;
}
.endm:hover {
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.endm:active, .endm.on, .endm.active, .endm:checked {
  background-image: linear-gradient(to right, #4DB0DD, #1f7ba5);
  background-color: #4DB0DD;
  color: #F1ECFA;
}
.endm:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.end-middlem {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  display: end;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA);
  margin: 10px;
  max-width: 150px;
  margin-top: 5px;
  grid-area: end-middlem;
  text-align: end;
}

.link {
  all: unset;
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25vh;
}

.dots {
  all: unset;
  background: url("../images/dots.png");
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  box-shadow: inset 0 0 0 2px #4DB0DD;
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  flex: 1;
  color: #CDD6F4;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: dots;
  background-image: url("../images/dots.png");
  background-size: 500px;
}
.dots:hover {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.dots:active, .dots.on, .dots.active, .dots:checked {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background: linear-gradient(rgba(31, 123, 165, 0.8), rgba(31, 123, 165, 0.8)), url("../images/dots.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  color: #452C1F;
}
.dots:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.mine {
  all: unset;
  background: url("../images/mine.png");
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  box-shadow: inset 0 0 0 2px #4DB0DD;
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  flex: 1;
  color: #CDD6F4;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: mine;
  background-image: url("../images/mine.png");
  background-size: 500px;
}
.mine:hover {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.mine:active, .mine.on, .mine.active, .mine:checked {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background: linear-gradient(rgba(31, 123, 165, 0.8), rgba(31, 123, 165, 0.8)), url("../images/mine.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  color: #452C1F;
}
.mine:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.szach {
  all: unset;
  background: url("../images/szach.png");
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  box-shadow: inset 0 0 0 2px #4DB0DD;
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  flex: 1;
  color: #CDD6F4;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: szach;
  background-image: url("../images/szach.png");
  background-size: 500px;
}
.szach:hover {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.szach:active, .szach.on, .szach.active, .szach:checked {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background: linear-gradient(rgba(31, 123, 165, 0.8), rgba(31, 123, 165, 0.8)), url("../images/szach.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  color: #452C1F;
}
.szach:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.bush {
  all: unset;
  background: url("../images/bush.png");
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  box-shadow: inset 0 0 0 2px #4DB0DD;
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  flex: 1;
  color: #CDD6F4;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: bush;
  background-image: url("../images/bush.png");
  background-size: 500px;
}
.bush:hover {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.bush:active, .bush.on, .bush.active, .bush:checked {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background: linear-gradient(rgba(31, 123, 165, 0.8), rgba(31, 123, 165, 0.8)), url("../images/bush.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  color: #452C1F;
}
.bush:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.bash {
  all: unset;
  background: url("../images/bash.png");
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  box-shadow: inset 0 0 0 2px #4DB0DD;
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  flex: 1;
  color: #CDD6F4;
  text-shadow: 2px 2px 0px #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  margin: 10px;
  grid-area: bash;
  background-size: 500px;
}
.bash:hover {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.bash:active, .bash.on, .bash.active, .bash:checked {
  box-shadow: inset 0 0 0 2px #4DB0DD;
  background: linear-gradient(rgba(31, 123, 165, 0.8), rgba(31, 123, 165, 0.8)), url("../images/bash.png") no-repeat top center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  color: #452C1F;
}
.bash:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

body {
  background-color: #F1ECFA;
  color: #452C1F;
  font-family: Roboto;
}

.topbars {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-areas: "starts centers ends";
}

.backs {
  all: unset;
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: starts;
  text-align: start;
}
.backs:hover {
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.backs:active, .backs.on, .backs.active, .backs:checked {
  background-image: linear-gradient(to right, #4DB0DD, #1f7ba5);
  background-color: #4DB0DD;
  color: #F1ECFA;
}
.backs:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.names {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  min-width: 300px;
  grid-area: centers;
  text-align: center;
}

.placeholders {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: ends;
  text-align: end;
}

.contents {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  height: auto;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA, white, #4DB0DD);
}
.contents br {
  margin-top: -10px;
}
.contents td {
  color: #CDD6F4;
}

.code {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: #0D1117;
  padding: 0px;
}

.link {
  all: unset;
  cursor: pointer;
}

body {
  background-color: #F1ECFA;
  color: #452C1F;
  font-family: Roboto;
}

br {
  display: block;
  margin: 3px 0;
}

.contentl {
  display: grid;
  height: 100%;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: min-content auto;
  grid-template-areas: "startl centerl endl" "navl conl conl";
}

.backl {
  all: unset;
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: startl;
  text-align: start;
}
.backl:hover {
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.backl:active, .backl.on, .backl.active, .backl:checked {
  background-image: linear-gradient(to right, #4DB0DD, #1f7ba5);
  background-color: #4DB0DD;
  color: #F1ECFA;
}
.backl:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.namel {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  min-width: 300px;
  grid-area: centerl;
  text-align: center;
}

.endl {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: endl;
  text-align: end;
}

.link {
  all: unset;
  cursor: pointer;
}

.stick {
  display: stick;
  top: 7px;
}

.navl {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  display: flex;
  align-items: start;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  grid-area: navl;
}

.conl {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  grid-area: conl;
  text-align: left;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA, #F1ECFA, #F1ECFA);
}

.lt {
  text-decoration-line: line-through;
  display: inline-block;
}

.line {
  all: unset;
  display: inline-block;
}

body {
  background-color: #F1ECFA;
  color: #452C1F;
  font-family: Roboto;
}

br {
  display: block;
  margin: 3px 0;
}

.contentd {
  display: grid;
  height: 100%;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: min-content auto;
  grid-template-areas: "startd centerd endd" "navd cond cond";
}

.backd {
  all: unset;
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: startd;
  text-align: start;
}
.backd:hover {
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.backd:active, .backd.on, .backd.active, .backd:checked {
  background-image: linear-gradient(to right, #4DB0DD, #1f7ba5);
  background-color: #4DB0DD;
  color: #F1ECFA;
}
.backd:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.named {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  min-width: 300px;
  grid-area: centerd;
  text-align: center;
}

.gitd {
  all: unset;
  transition: 200ms;
  color: #452C1F;
  cursor: pointer;
  background-color: rgba(69, 44, 31, 0.06);
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA);
  max-width: 150px;
  grid-area: endd;
  text-align: end;
}
.gitd:hover {
  background-color: rgba(69, 44, 31, 0.154);
  color: #68422f;
}
.gitd:active, .gitd.on, .gitd.active, .gitd:checked {
  background-image: linear-gradient(to right, #4DB0DD, #1f7ba5);
  background-color: #4DB0DD;
  color: #F1ECFA;
}
.gitd:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(69, 44, 31, 0.3);
}

.link {
  all: unset;
  cursor: pointer;
}

.stick {
  position: sticky;
  top: 7px;
}

.navd {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  background: linear-gradient(to right, #4DB0DD, white, #F1ECFA);
  grid-area: navd;
}

.cond {
  border: 2px solid #4DB0DD;
  border-radius: 7px;
  margin: 10px;
  margin-top: 5px;
  padding: 7px;
  grid-area: cond;
  text-align: left;
  background: linear-gradient(to left, #4DB0DD, white, #F1ECFA, #F1ECFA, #F1ECFA);
}

.lt {
  text-decoration-line: line-through;
  display: inline-block;
}

.line {
  display: inline-block;
}

.macchiato {
  min-height: 500px;
  background: url("../images/conf/macchiato.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.latte {
  min-height: 500px;
  background: url("../images/conf/latte.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spaghett {
  min-height: 500px;
  background: url("../images/conf/spaghett.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mlp {
  min-height: 500px;
  background: url("../images/conf/mlp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacman {
  min-height: 500px;
  background: url("../images/conf/pacman.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wg {
  min-height: 500px;
  background: url("../images/conf/wg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kgb {
  min-height: 500px;
  background: url("../images/conf/kgb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jp {
  min-height: 500px;
  background: url("../images/conf/jp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fnaf {
  min-height: 500px;
  background: url("../images/conf/fnaf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fuck {
  min-height: 500px;
  background: url("../images/conf/fuck.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.quicksettings {
  min-height: 450px;
  background: url("../images/widgets/quicksettings.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dashboard {
  min-height: 350px;
  background: url("../images/widgets/dashboard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.applauncher {
  min-height: 350px;
  background: url("../images/widgets/applauncher.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.powermenu {
  min-height: 350px;
  background: url("../images/widgets/powermenu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.media {
  min-height: 150px;
  background: url("../images/widgets/media.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.center {
  text-justify: center;
  text-align: center;
}

.clock {
  min-height: 150px;
  background: url("../images/widgets/clock.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.play {
  min-height: 150px;
  background: url("../images/widgets/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.moon {
  min-height: 350px;
  background: url("../images/widgets/moon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=CL.css.map */
