body{
	background-color: $bg-color;
}
.Dealer{
	display: flex;
	font-size: 40px;
	border: $br-size solid $accent;
	border-radius: $radii;
	padding: $padding;
}
.Player{
	display: flex;
	font-size: 40px;
	border: $br-size solid $accent;
	border-radius: $radii;
	padding: $padding;
}
