@mixin buttonimg-focus() {
    	box-shadow: inset 0 0 0 $border-width $accent;
	background-color: $hover;
    	color: $hover-fg;
}

@mixin buttonimg-hover() {
    	box-shadow: inset 0 0 0 $border-width $border-color;
    	background-color: $hover;
    	color: $hover-fg;
}

@mixin buttonimg-active($bg) {
    	box-shadow: inset 0 0 0 $border-width $border-color;
    	//background: linear-gradient(transparentize($accent, 0.5)), url($bg);
    	background: linear-gradient(transparentize(darken($accent, 20), 0.2),transparentize(darken($accent, 20), 0.2)), url($bg) no-repeat top center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 500px;
    	color: $fg-color;
}

@mixin buttonimg-disabled() {
	box-shadow: none;
	background-color: transparent;
	color: transparentize($fg-color, 0.7);
}

@mixin buttonimages($image: '../images/null.png',$flat: false, $reactive: true, $focusable: false){
	all: unset;
	background: url($image);
	transition: $transition;
	color: $fg-color;
	cursor: pointer;
	
	@if $flat{
        	background-color: transparent;
        	background-image: none;
        	box-shadow: none;
    	} @else{
        	background-color: $widget-bg;
        	box-shadow: inset 0 0 0 $border-width $border-color;
    	}
    	@if $reactive{
    		@if $focusable {
			&:focus{
				@include buttonimg-focus;
			}
		}
		&:hover{
			@include buttonimg-hover;
		}
		&:active, &.on, &.active, &:checked {
			@include buttonimg-active($image);
		}
	}
	&:disabled {
        	@include buttonimg-disabled;
    	}
}
