body{
	background-color: $bg-color;
	color: $fg-color;
	font-family: $font;
}
.box{
	display: grid;
	height: 100%;
	grid-template-columns: 150px auto 150px;
	grid-template-rows: min-content auto;
  	grid-template-areas: 
  	'startm centerm endm'
  	'start-middlem center-middlem end-middlem';
}
br {
   display: block;
   margin: $br-size 0;
}
.startm{
	@include border;
	background: $gradr;
	max-width: 150px;
	grid-area: startm;
	text-align: start;
}
.start-middlem{
	@include border;
	word-wrap: break-word;
	max-width: 150px;
	background: $gradr;
	grid-area: start-middlem;
	text-align: start;
}
.centerm{
	@include border;
	min-width: 300px;
	grid-area: centerm;
	text-align: center;
}
.center-middlem{
	@include border;
	grid-area: center-middlem;
	float: top;
	word-wrap: break-word;
	min-width: 400px;
	text-align: center;
}
.endm{
	@include button;
	@include border;
	background: $gradl;
	max-width: 150px;
	grid-area: endm;
	text-align: end;
}
.end-middlem{
	@include border;
	display: end;
	background: $gradl;
	margin: $spacing*2;
	max-width: 150px;
	margin-top: $spacing;
	grid-area: end-middlem;
	text-align: end;
}
.link{
	@include link;
}
